<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Изменить данные продукта</h1>
<!--/*@thymesVar id="product" type="com.geekbrains.spring.mvc.model.Product"*/-->
<form th:action="@{/products/edit}" th:object="${product}" method="POST">
    <input hidden th:field="*{id}"/>
    <br>
    Имя: <input th:field="*{title}"/>
    <br>
    Описание: <input th:field="*{description}"/>
    <br>
    Бренд: <input th:field="*{brand}"/>
    <br>
    Цена: <input th:field="*{price}"/>
    <br>
    <input type="submit" value="Submit" />
</form>
<br>
<a th:href="@{/products}">на Главную страницу</a>
</body>
</html>